<div class="col-xs-12 col-sm-12 col-md-7 col-lg-5">
  <div class="well no-padding">
    <%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: {id:"smart-form-register", class:"smart-form client-form form-horizontal"}) do |f| %>
        <%= devise_error_messages! %>
        <header>
        </header>

        <fieldset>
          <% f.object.core_demographic ||= CoreDemographic.new %>
          <%= f.fields_for :core_demographic do |form| %>
              <div class="form-group">
                <%= form.label t('profile.first_name'), class: 'col-md-2 control-label' %>
                <div class="col-md-8">
                  <%= form.text_field :first_name, placeholder: 'First name', class: 'form-control' %>
                </div>
              </div>

              <div class="form-group">
                <%= form.label t('profile.middle_name'), class: 'col-md-2 control-label' %>
                <div class="col-md-8">
                  <%= form.text_field :middle_name, placeholder: 'Middle name', class: 'form-control' %>
                </div>
              </div>

              <div class="form-group">
                <%= form.label t('profile.last_name'), class: 'col-md-2 control-label' %>
                <div class="col-md-8">
                  <%= form.text_field :last_name, placeholder: 'Last name', class: 'form-control' %>
                </div>
              </div>


              <div class="form-group">
                <label class="col-md-2 control-label">Time Zone</label>
                <div class="col-md-8">
                  <%= f.time_zone_select :time_zone, ActiveSupport::TimeZone.us_zones, {},{class: 'form-control'} %>
                </div>
              </div>

          <% end %>

          <div class="form-group">
            <label class="col-md-2 control-label">Login</label>
            <div class="col-md-8">
              <%= f.text_field :login, placeholder: 'Login' , class: 'form-control' %>
            </div>
          </div>


          <div class="form-group email_div">
            <label class="col-md-2 control-label"><%= t(:email) %></label>
            <div class="col-md-8">
              <%= f.email_field :email, placeholder: 'Email' , class: 'form-control' %>
            </div>
          </div>

          <div class="form-group">
            <label class="col-md-2 control-label"><%= t('profile.password') %></label>
            <div class="col-md-8">
              <%= f.password_field :password, autocomplete: "off", placeholder: 'Password' , class: 'form-control' %>
            </div>
          </div>

          <div class="form-group">
            <label class="col-md-2 control-label"><%= t('profile.password_confirmation') %></label>
            <div class="col-md-8">
              <%= f.password_field :password_confirmation, autocomplete: "off", placeholder: 'Password confirmation' , class: 'form-control' %>
            </div>
          </div>


          <section class="form-group" >
            <% if ENV['RECAPTCHA_PUBLIC_KEY']  %>
                <%= recaptcha_tags :public_key => ENV['RECAPTCHA_PUBLIC_KEY'] %>
            <% end %>
          </section>

          <section>
            <label class="checkbox">
              <%= f.check_box :terms %>
              <i></i>I agree with the <a href="#" data-toggle="modal" data-target="#myModal"> Terms and Conditions </a></label>
          </section>
        </fieldset>
        <footer>
          <button type="submit" class="btn btn-primary">
            Register
          </button>

        </footer>

        <div class="message">
          <i class="fa fa-check"></i>
          <p>
            Thank you for your registration!
          </p>
        </div>
    <% end %>
  </div>
  <h5 class="text-center"> - Or sign up using -</h5>

  <ul class="list-inline text-center">
    <%- if devise_mapping.omniauthable? %>
        <% if Setting['GITHUB_KEY'].present? && Setting['GITHUB_SECRET'].present?  %>
            <li>
              <a href="<%= omniauth_authorize_path(resource_name, :github) %>" class="btn btn-info btn-circle"><i class="fab fa-github"></i></a>
            </li>
        <% end %>

        <% if Setting['OFFICE365_KEY'].present? && Setting['OFFICE365_SECRET'].present?  %>
            <li>
              <a href="<%= omniauth_authorize_path(resource_name, :office365) %>" class="btn btn-info btn-circle"><i class="fab fa-microsoft"></i></a>
            </li>
        <% end %>

        <% if Setting['FACEBOOK_KEY'].present? && Setting['FACEBOOK_SECRET'].present?  %>
            <li>
              <a href="<%= omniauth_authorize_path(resource_name, :facebook) %>" class="btn btn-info btn-circle"><i class="fab fa-facebook"></i></a>
            </li>
        <% end %>

        <% if Setting['TWITTER_KEY'].present? && Setting['TWITTER_SECRET'].present?  %>
            <li>
              <a href="<%= omniauth_authorize_path(resource_name, :twitter) %>" class="btn btn-info btn-circle"><i class="fab fa-twitter"></i></a>
            </li>
        <% end %>

        <% if Setting['GOOGLE_KEY'].present? && Setting['GOOGLE_SECRET'].present?  %>
            <li>
              <a href="<%= omniauth_authorize_path(resource_name, :google_oauth2) %>" class="btn btn-info btn-circle"><i class="fab fa-google"></i></a>
            </li>
        <% end %>


    <% end %>

  </ul>

</div>

<div data-toggle="modal" class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div data-toggle="modal" class="modal-dialog">
    <div data-toggle="modal" class="modal-content">
      <div data-toggle="modal" class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
          &times;
        </button>
        <h4 class="modal-title" id="myModalLabel">Terms & Conditions</h4>
      </div>
      <div data-toggle="modal" class="modal-body custom-scroll terms-body">
        <%= Setting['terms'] %>
      </div>
      <div data-toggle="modal" class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">
          Cancel
        </button>
        <button type="button" class="btn btn-primary" id="i-agree">
          <i class="fa fa-check"></i> I Agree
        </button>

        <button type="button" class="btn btn-danger pull-left" id="print">
          <i class="fa fa-print"></i> Print
        </button>
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->

<script>
  // Validation
  $(function() {

      $("#i-agree").click(function(){
          $this=$("#user_terms");
          if($this.checked) {
              $('#myModal').modal('toggle');
          } else {
              $this.prop('checked', true);
              $('#myModal').modal('toggle');
          }
      });

    runAllForms();
    // Validation
    $("#smart-form-register").validate({

      // Rules for form validation
      rules : {
        "user[core_demographic_attributes][first_name]" : {
          required : true
        },
        "user[core_demographic_attributes][last_name]" : {
          required : true
        },
        "user[login]" : {
          required : true
        },
        "user[email]" : {
          required : true,
          email : true
        },
        "user[password]" : {
          required : true,
          <% if @minimum_password_length %>
          minlength : <%= @minimum_password_length %>,
          <% end %>
          maxlength : 20
        },
        "user[password_confirmation]" : {
          required : true,
          <% if @minimum_password_length %>
          minlength : <%= @minimum_password_length %>,
          <% end %>
          maxlength : 20,
          equalTo : '#user_password'
        }
      },

      // Messages for form validation
      messages : {
        login : {
          required : 'Please enter your login'
        },
        email : {
          required : 'Please enter your email address',
          email : 'Please enter a VALID email address'
        },
        password : {
          required : 'Please enter your password'
        },
        passwordConfirm : {
          required : 'Please enter your password one more time',
          equalTo : 'Please enter the same password as above'
        }
      },
      // Do not change code below
      errorPlacement : function(error, element) {
        error.insertAfter(element.parent());
      }
    });

  });
</script>