

<p>
  <strong>Plan:</strong>
  <%= @department.plan_id %>
</p>

<p>
  <strong>Is locked:</strong>
  <%= @department.is_locked %>
</p>

<p>
  <strong>Strategic description:</strong>
  <%= @department.strategic_description %>
</p>

<p>
  <strong>Customer description:</strong>
  <%= @department.customer_description %>
</p>

<p>
  <strong>Internal description:</strong>
  <%= @department.internal_description %>
</p>

<p>
  <strong>Learning description:</strong>
  <%= @department.learning_description %>
</p>

<%= link_to 'Edit', edit_department_path(@department) %> |
<%= link_to 'Back', departments_path %>
