<div>
  <%= link_to 'Edit', edit_department_path(@department), class: 'btn btn-primary  pull-right' %>
  <%= link_to 'Back', departments_path, class: 'btn btn-warning pull-right' %>
</div>

<div class="row">
  <div class="col-md-12">
    <h2> <%= @department.name %></h2>
    <p>
      <strong>Plan:</strong>
      <%= @department.plan %>
    </p>

    <p>
      <strong>Is locked:</strong>
      <%= @department.is_locked %>
    </p>

    <p>
      <strong>Strategic Objective:</strong>

      <%= @department.strategic_description %>
    <ul>
      <% @department.strategic_objectives.each_with_index do |so, idx| %>
        <li>
          <%= link_to departments_path(enumeration_id: so.enumeration.id, plan_id: @department.plan_id) do %>
            <strong>S<%= idx+1 %>:</strong>  <%= so.enumeration.to_s %>
          <% end %>
        </li>

      <% end %>
    </ul>
    </p>

    <p>
      <strong>Customer Objective:</strong>
      <%= @department.customer_description %>
    <ul>
      <% @department.customer_objectives.each_with_index do |co, idx| %>
        <li>
          <%= link_to departments_path(enumeration_id: co.enumeration.id, plan_id: @department.plan_id) do %>
            <strong>C<%= idx+1 %>:</strong>
            <%= co.enumeration.to_s %>
          <% end  %>
        </li>

      <% end %>
    </ul>
    </p>

    <p>
      <strong>Internal Perspectives:</strong>
      <%= @department.internal_description %>
    <ul>
      <% @department.internal_perspectives.each_with_index do |ip, idx| %>
        <li><%= link_to departments_path(enumeration_id: ip.enumeration.id, plan_id: @department.plan_id) do %>
            <strong>I<%= idx+1 %>:</strong>
            <%= ip.enumeration.to_s %>
          <% end %>
        </li>

      <% end %>
    </ul>
    </p>

    <p>
      <strong>Learning & Growth:</strong>
      <%= @department.learning_description %>
    <ul>
      <% @department.learning_growths.each_with_index do |lg, idx| %>
        <li><%= link_to departments_path(enumeration_id: lg.enumeration.id, plan_id: @department.plan_id) do %>
            <strong>L<%= idx+1 %>:</strong>
            <%= lg.enumeration.to_s %>
          <% end %>
        </li>

      <% end %>
    </ul>
    </p>

  </div>
</div>


