<div id="content" class="container">
  <div class="row">

    <% if user_signed_in? %>
        <div class="col-xs-12 col-sm-12 col-md-7 col-lg-8 ">
          <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
            <%= Setting['section_1'].to_s.html_safe %>
          </div>
          <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
            <%= Setting['section_2'].to_s.html_safe %>
          </div>

          <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
            <%= Setting['section_3'].to_s.html_safe %>
          </div>
          <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
            <%= Setting['section_4'].to_s.html_safe %>
          </div>
        </div>
        <% if User.current.persisted? %>
            <div class="col-xs-12 hidden-xs col-sm-1 col-md-3">
              <% News.includes(:user).order("id DESC").first(Setting['news_limit'].to_i).each do |news| %>
                  <%= render partial: 'news/news', locals: {news: news} %>
              <% end %>
            </div>
        <% end %>
    <% else  %>
        <div class="col-xs-12 col-sm-12 col-md-7 col-lg-8 hidden-xs hidden-sm">
          <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
            <%= Setting['section_1'].to_s.html_safe %>
          </div>
          <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
            <%= Setting['section_2'].to_s.html_safe %>
          </div>

          <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
            <%= Setting['section_3'].to_s.html_safe %>
          </div>
          <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
            <%= Setting['section_4'].to_s.html_safe %>
          </div>
        </div>
        <%= render partial: '/devise/sessions/new_form' %>
    <% end %>
    </div>
</div>
<script>
    $(document).ready(function(){
        eraseAllCookies();
    })
</script>


