
<div class="col-xs-12 col-sm-12 col-md-5 col-lg-4">
  <div class="well no-padding">
    <%= form_for(resource, as: resource_name, url: session_path(resource_name), html: {id: 'login-form', class: 'smart-form client-form'}) do |f| %>
        <header>
          Sign In
        </header>

        <fieldset>

          <section>
            <label class="label">Login</label>
            <label class="input"> <i class="icon-append fa fa-user"></i>
              <%= f.text_field :login, autofocus: true %>
              <b class="tooltip tooltip-top-right"><i class="fa fa-user txt-color-teal"></i> Please enter Login</b>
            </label>
          </section>

          <section>
            <label class="label">Password</label>
            <label class="input"> <i class="icon-append fa fa-lock"></i>
              <%= f.password_field :password, autocomplete: "off" %>
              <b class="tooltip tooltip-top-right"><i class="fa fa-lock txt-color-teal"></i> Enter your password</b>
            </label>
            <div class="note">
              <%= render "devise/shared/links" %>
            </div>
          </section>

          <section>
            <label class="checkbox">
              <%= f.check_box :remember_me %>
              <i></i>Stay signed in</label>
          </section>
        </fieldset>
        <footer>
          <button type="submit" class="btn btn-primary">
            Sign in
          </button>
        </footer>
    <% end %>

  </div>

  <h5 class="text-center"> - Or sign in using -</h5>

  <ul class="list-inline text-center">
    <%- if devise_mapping.omniauthable? %>
        <% if Setting['GITHUB_KEY'].present? && Setting['GITHUB_SECRET'].present?  %>
            <li>
              <a href="<%= omniauth_authorize_path(resource_name, :github) %>" class="btn btn-info btn-circle"><i class="fab fa-github"></i></a>
            </li>
        <% end %>

        <% if Setting['OFFICE365_KEY'].present? && Setting['OFFICE365_SECRET'].present?  %>
            <li>
              <a href="<%= omniauth_authorize_path(resource_name, :office365) %>" class="btn btn-info btn-circle"><i class="fab fa-microsoft"></i></a>
            </li>
        <% end %>

        <% if Setting['FACEBOOK_KEY'].present? && Setting['FACEBOOK_SECRET'].present?  %>
            <li>
              <a href="<%= omniauth_authorize_path(resource_name, :facebook) %>" class="btn btn-info btn-circle"><i class="fab fa-facebook"></i></a>
            </li>
        <% end %>

        <% if Setting['TWITTER_KEY'].present? && Setting['TWITTER_SECRET'].present?  %>
            <li>
              <a href="<%= omniauth_authorize_path(resource_name, :twitter) %>" class="btn btn-info btn-circle"><i class="fab fa-twitter"></i></a>
            </li>
        <% end %>

        <% if Setting['GOOGLE_KEY'].present? && Setting['GOOGLE_SECRET'].present?  %>
            <li>
              <a href="<%= omniauth_authorize_path(resource_name, :google_oauth2) %>" class="btn btn-info btn-circle"><i class="fab fa-google"></i></a>
            </li>
        <% end %>


    <% end %>

  </ul>

</div>


