<% content_for :html_id, "extr-page" %>
<% content_for :body_class, "animated fadeInDown" %>
<% content_for :top_right do %>
  <span id="extr-page-header-space"> <span class="hidden-mobile hiddex-xs">Need an account?</span>
    <%= link_to 'Create account', miscellaneous_register_path, class: 'btn btn-danger' %>
  </span>
<% end %>
<!-- MAIN CONTENT -->
<div id="content" class="container">

  <div class="row">
    <div class="col-xs-12 col-sm-12 col-md-7 col-lg-8 hidden-xs hidden-sm">
      <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
        <%= Setting['section_1'].to_s.html_safe %>
      </div>
      <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
        <%= Setting['section_2'].to_s.html_safe %>
      </div>

      <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
        <%= Setting['section_3'].to_s.html_safe %>
      </div>
      <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
        <%= Setting['section_4'].to_s.html_safe %>
      </div>
    </div>
   <%= render partial: 'new_form' %>
  </div>
</div>
