<div>
  <%= link_to 'Edit', edit_organization_path(@organization), class: 'btn btn-primary  pull-right' %>
  <%= link_to 'Back', organizations_path, class: 'btn btn-warning pull-right' %>
</div>
<div class="row">
  <div class="col-md-12">
    <h2> <%= @organization.name %></h2>
    <p>
      <strong>Plan:</strong>
      <%= @organization.plan %>
    </p>

    <p>
      <strong>Is locked:</strong>
      <%= @organization.is_locked %>
    </p>

    <p>
      <strong>Strategic Objective:</strong>

      <%= @organization.strategic_description %>
      <ul>
        <% @organization.strategic_objectives.each_with_index do |so, idx| %>
        <li> <strong>S<%= idx+1 %>:</strong>  <%= so.enumeration.to_s %>
        </li>

        <% end %>
      </ul>
    </p>

    <p>
      <strong>Customer Objective:</strong>
      <%= @organization.customer_description %>
    <ul>
      <% @organization.customer_objectives.each_with_index do |co, idx| %>
        <li><strong>C<%= idx+1 %>:</strong>
          <%= co.enumeration.to_s %>
        </li>

      <% end %>
    </ul>
    </p>

    <p>
      <strong>Internal Perspectives:</strong>
      <%= @organization.internal_description %>
    <ul>
      <% @organization.internal_perspectives.each_with_index do |ip, idx| %>
        <li><strong>I<%= idx+1 %>:</strong>
          <%= ip.enumeration.to_s %>
        </li>

      <% end %>
    </ul>
    </p>

    <p>
      <strong>Learning & Growth:</strong>
      <%= @organization.learning_description %>
    <ul>
      <% @organization.learning_growths.each_with_index do |lg, idx| %>
        <li><strong>L<%= idx+1 %>:</strong>
          <%= lg.enumeration.to_s %>
        </li>

      <% end %>
    </ul>
    </p>

  </div>
</div>


