<!DOCTYPE html>
<html lang="en-us" id="<%= yield :html_id %>">
<head>
  <meta charset="utf-8">

  <title> <%= Setting['application_name'] %> </title>
  <%= csrf_meta_tags %>
  <meta name="description" content="">
  <meta name="author" content="">

  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">

  <%= stylesheet_link_tag  'application', media: 'all', 'data-turbolinks-track'=> 'reload' %>
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.3/css/all.css" integrity="sha384-UHRtZLI+pbxtHCWp1t77Bi1L4ZtiqrqD80Kn4Z8NTSRyMA2Fd33n5dQ8lWUE00s/" crossorigin="anonymous">
  <%= javascript_include_tag 'application', 'data-turbolinks-track'=> 'reload' %>

  <!-- FAVICONS -->
  <%= favicon_link_tag 'favicon.ico' %>


  <!-- GOOGLE FONT -->
  <%= stylesheet_link_tag 'https://fonts.googleapis.com/css?family=Open+Sans:400italic,700italic,300,400,700' %>

  <!-- Specifying a Webpage Icon for Web Clip
     Ref: https://developer.apple.com/library/ios/documentation/AppleApplications/Reference/SafariWebContent/ConfiguringWebApplications/ConfiguringWebApplications.html -->
  <%= favicon_link_tag 'splash/sptouch-icon-iphone.png', type: 'image/png', rel: 'apple-touch-icon' %>
  <%= favicon_link_tag 'splash/touch-icon-ipad.png', type: 'image/png', sizes: '76x76', rel: 'apple-touch-icon' %>
  <%= favicon_link_tag 'splash/touch-icon-iphone-retina.png', type: 'image/png', sizes: '120x120', rel: 'apple-touch-icon' %>
  <%= favicon_link_tag 'splash/touch-icon-ipad-retina.png', type: 'image/png', sizes: '152x152', rel: 'apple-touch-icon' %>

  <!-- iOS web-app metas : hides Safari UI Components and Changes Status Bar Appearance -->
  <meta name="apple-mobile-web-app-capable" content="yes">
  <meta name="apple-mobile-web-app-status-bar-style" content="black">

  <!-- Startup image for web apps -->
  <%= favicon_link_tag 'splash/ipad-landscape.png', type: 'image/png', rel: 'apple-touch-startup-image', media: 'screen and (min-device-width: 481px) and (max-device-width: 1024px) and (orientation:landscape)' %>
  <%= favicon_link_tag 'splash/ipad-portrait.png', type: 'image/png', rel: 'apple-touch-startup-image', media: 'screen and (min-device-width: 481px) and (max-device-width: 1024px) and (orientation:portrait)' %>
  <%= favicon_link_tag 'splash/iphone.png', type: 'image/png', rel: 'apple-touch-startup-image', media: 'screen and (max-device-width: 320px)' %>

  <%= yield :head %>

  <style>
    body {
      font-size: 15px;
    }

    .smart-style-5
    {
      background: url(/assets/glass.jpg) no-repeat center center fixed;
      -webkit-background-size: cover;
      -moz-background-size: cover;
      -o-background-size: cover;
      background-size: cover;
    }

    .smart-style-3 #header {
      background-color: #dddddd;
      background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#dddddd), to(#dddddd));
      background-image: -webkit-linear-gradient(top, #dddddd, #dddddd);
      background-image: linear-gradient(to bottom, #dddddd, #dddddd);
    }

    .smart-style-3 .btn-header>:first-child>a {
      background-color: #DD7C37;
      background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#dd7c37), to(#dd7c37));
      background-image: -webkit-linear-gradient(top, #dd7c37, #dd7c37);
      background-image: linear-gradient(to bottom, #dd7c37, #dd7c37);
      color: #fff !important;
      border: 1px solid #dd7c37;
      text-shadow: none;
    }

    .smart-style-1 .btn-header>:first-child>a {
      background: #dd7c37;
      border: 1px solid #dd7c37;
      color: #fff !important;
      cursor: pointer !important;
    }


    h2 {
      font-size: 24px;
    }
    .form-control {
      font-size: 15px;
    }

    .btn {
      font-size: 15px;
    }

    .table thead tr {
      font-size: 14px;
    }

    .dropdown-menu {
      min-width: 170px;
      font-size: 15px;
    }

    .login-info a span {
      font-size: 14px;
    }

    abbr[title] {
      border-bottom: none;
      text-decoration: none;
    }

    .jarviswidget-color-blueLight>header {
      border-color:#a0aeb3 !important;background:#B2C8D6;
    }
    .jarviswidget>header h2 {
      font-size: 18px;
    }

    .jarviswidget>div {
      font-size: 15px;
    }

    .ui-tabs .ui-tabs-nav li a {
      background-color:#4D7484;color:#ffffff;border:none;box-shadow: none;
    }
    .ui-tabs .ui-tabs-nav li a:hover {
      border:none;background-color:#DBC2A4;color:#000000;box-shadow: none;
    }
    .ui-tabs .ui-tabs-nav li.ui-tabs-active:hover {
      background:#dd7c37;cursor:text;
    }
    .ui-tabs .ui-tabs-nav .ui-tabs-anchor {
      background-color:#4D7484;
    }
    .ui-tabs .ui-tabs-nav li.ui-tabs-active {
      margin-top: 4px;
      margin-bottom: 0;
      padding-bottom: 0;
    }
    .ui-tabs .ui-tabs-nav li.ui-tabs-active a {
      background-color:#dd7c37;color:#ffffff;border:none;margin-top: 0px !important;
      font-weight: 400; box-shadow: none;
    }
    .ui-state-active, .ui-widget-content .ui-state-active, .ui-widget-header .ui-state-active {
      background: #ffffff;
    }
    .jarviswidget-color-blueLight .nav-tabs li:not(.active) a {
      color: white !important;
    }
    .jarviswidget-color-blueLight .nav-tabs li a:hover {
      color: black !important;
    }

    .ui-tabs .ui-tabs-nav {
      border: solid #dd7c37;
      border-width: 0 0 3px;
      border-radius: 0;
      background: 0 0;
    }
    .ui-tabs .ui-tabs-nav li a:hover, .ui-tabs .ui-tabs-nav li.ui-tabs-active:hover, .jarviswidget-color-blueLight .nav-tabs li a:hover {
      color:#000000;box-shadow: none;border:none;
    }

    .ui-tabs .ui-tabs-nav li {
      margin: 4px 1px 0 1px;
      border: none;
    }
    .ui-tabs .ui-tabs-nav li a {
      border: none;box-shadow: none;
    }


    nav ul li a, .smart-style-3 nav>ul>li>a, .smart-style-1 nav ul ul li>a {
      font-size: 15px;
    }

    .page-footer span {
      font-size: 1.125em;
    }

    div.dataTables_info {
      font-size: 14px;
    }

    .pagination-sm>li>a {
      font-size: 14px;
    }

    #logo-group>span {
      font-size: 24px;
    }

    .ui-widget-content, .ui-widget.ui-widget-content {
      border: none;
    }
  </style>
</head>

<!--

TABLE OF CONTENTS.

Use search to find needed section.

===================================================================

|  01. #CSS Links                |  all CSS links and file paths  |
|  02. #FAVICONS                 |  Favicon links and file paths  |
|  03. #GOOGLE FONT              |  Google font link              |
|  04. #APP SCREEN / ICONS       |  app icons, screen backdrops   |
|  05. #BODY                     |  body tag                      |
|  06. #HEADER                   |  header tag                    |
|  07. #PROJECTS                 |  project lists                 |
|  08. #TOGGLE LAYOUT BUTTONS    |  layout buttons and actions    |
|  09. #MOBILE                   |  mobile view dropdown          |
|  10. #SEARCH                   |  search field                  |
|  11. #NAVIGATION               |  left panel & navigation       |
|  12. #RIGHT PANEL              |  right panel userlist          |
|  13. #MAIN PANEL               |  main panel                    |
|  14. #MAIN CONTENT             |  content holder                |
|  15. #PAGE FOOTER              |  page footer                   |
|  16. #SHORTCUT AREA            |  dropdown shortcuts area       |
|  17. #PLUGINS                  |  all scripts and plugins       |

===================================================================

-->

<!-- #BODY -->
<!-- Possible Classes

  * 'smart-style-{SKIN#}'
  * 'smart-rtl'         - Switch theme mode to RTL
  * 'menu-on-top'       - Switch to top navigation (no DOM change required)
  * 'no-menu'			  - Hides the menu completely
  * 'hidden-menu'       - Hides the main menu but still accessable by hovering over left edge
  * 'fixed-header'      - Fixes the header
  * 'fixed-navigation'  - Fixes the main menu
  * 'fixed-ribbon'      - Fixes breadcrumb
  * 'fixed-page-footer' - Fixes footer
  * 'container'         - boxed layout mode (non-responsive: will not work with fixed-navigation & fixed-ribbon)
-->
<body class="<%= Setting.theme(User.current.can?(:manage_roles)).values.join(' ') %>" style="min-height: 99vh; max-width: 100%">

<!-- HEADER -->
<%= render partial: 'layouts/header' unless @lock_screen %>
<!-- END HEADER -->

<!-- Left panel : Navigation area -->
<!-- Note: This width of the aside area can be adjusted through LESS variables -->
<%= render partial: 'layouts/left_panel' if current_user && !@simulate_no_user %>
<!-- END NAVIGATION -->

<!-- MAIN PANEL -->
<div id="main" role="main" style="padding-left: 15px; padding-right: 15px;">
  <%= render_flash_messages %>
  <% if breadcrumbs.present? %>
      <ol class="breadcrumb" style="font-size: 18px">
        <%= render_breadcrumbs :tag => :li, :separator => "" %>
      </ol>
  <% end %>
  <%= yield %>
</div>

<!-- END MAIN PANEL -->


<!-- SHORTCUT AREA : With large tiles (activated via clicking user name tag)
Note: These tiles are completely responsive,




<!-- PACE LOADER - turn this on if you want ajax loading to show (caution: uses lots of memory on iDevices)-->
<%= javascript_include_tag 'plugin/pace/pace.min', 'data-pace-options' => '{ "restartOnRequestAfter": true }' %>


<!-- PAGE FOOTER -->
<div class="page-footer">
  <%= render partial: 'shared/footer' %>
</div>
<!-- END PAGE FOOTER -->
<%= javascript_include_tag 'pivottables/smart_admin' %>

<script>
    $(document).ready(function() {
        toastr.options = {
            "progressBar": true,
            "timeOut": "20000"
        }
        // DO NOT REMOVE : GLOBAL FUNCTIONS!
        pageSetUp();
    });
</script>

</body>

</html>
